<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="RouteSampleApp">

<head>
  	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  	<script src='../../../scripts/dtkSDK/angular/angular.js'></script>
  	<script src='../../../scripts/dtkSDK/angular/angular-route.js'></script>
	<script src="../../../scripts/app/angular/RouteSample.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Routing Example</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
        <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
        <li><a href="#help"><i class="fa fa-comment"></i> Help</a></li>
      </ul>
    </div>
  </nav>

  <div id="main">
  
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>
  
  <footer class="text-center">  
    <p>Copyright 2014 Roger Coperation</p>
  </footer>
  
</body>

</html>
